aside {
  background-color: aliceblue;
  border: 3px solid #1d1d1f;
  border-radius: 10px;
  float: right;
  text-align: center;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.img-rrss {
  width: 50px;
}
.icons {
  width: 25px;
}

.foto-perfil {
  border-radius: 100px;
}
.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: 1100px;
}
nav {
  border: 0;
  text-align: center;
}
nav > a {
  background-color: gray;
  color: white;
  font-size: 20px;
  border: 5px gray solid;
  margin: 5px;
  text-decoration: none;
}
header {
  background-color: #1d1d1f;
  margin: 0px;
}
.titulo {
  border: 0px;
  color: white;
  text-align: center;
}
footer {
  background-color: #1d1d1f;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
footer > a {
  color: white;
  font-size: 15px;
}
footer a:visited {
  color: rgb(161, 155, 155);
}
.activate {
  background-color: rgb(0, 183, 255);
  border: 5px solid rgb(0, 183, 255);
}
.favoritos {
  width: 500px;
}
.horario,
th,
td {
  border: 2px black solid;
  text-align: center;
}
.formulario {
  margin: 10px;
  padding: 25px;
}
fieldset {
  width: 60px;
}
.autofoco {
  border: red 1px solid;
}
.comida:hover:before {
  content: "🥘";
  margin-left: -24px;
  width: 1px;
}
.peliculas:hover:before {
  content: "🎬";
  margin-left: -24px;
}
.animales:hover:before {
  content: "🐶";
  margin-left: -24px;
}
.horarioNegro {
  background-color: #1d1d1f;
  color: white;
}
.horario tr:nth-child(odd) {
  background-color: gray;
  color: white;
}

.horario tr:nth-child(even) {
  background-color: white;
}
button {
  background-image: linear-gradient(
    to top,
    rgb(0, 183, 255) 0%,
    rgba(0, 183, 255, 0.473) 50%,
    rgba(0, 183, 255, 0) 100%
  );
  border: none;
  margin-top: 10px;
  border-radius: 100px;
  color: black;
}
button:active {
  background-image: linear-gradient(
    to top,
    rgba(0, 183, 255, 0) 0%,
    rgba(0, 183, 255, 0.473) 50%,
    rgb(0, 183, 255) 100%
  );
}

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  padding: 8px;
}
